# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo